.container{
    position: absolute;
    right: 50%;
    top: 10%;
    border: solid black;
    border-width: 1px;
}

html{
    background: linear-gradient(to right, #004cff, #5c8cff, #99b7ff );
}

h1{
    text-align: center;
}

.paragraph-styling{
    margin: 0;
    cursor: pointer;
    font-size: 20px;
}